<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Checkout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="include/css/style_main.css" type="text/css">
  <script>document.addEventListener("DOMContentLoaded", function(){init_checkout()})</script>
  <script src="include/js/main.js"></script>
</head>
<body>
  <div class="waren">

  </div>
  <div class="daten"></div>
  <div class="versandzahlungsart"></div>
  <div class="bestaetigung"></div>
</body>
</html>