<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="include/css/style_main.css" type="text/css">
  <script>document.addEventListener("DOMContentLoaded", function(){init_main()})</script>
  <script src="include/js/main.js"></script>
</head>
<body>
  <div class="top">
    <!--{$dropdown}-->
    <div class="center"></div>

  </div>
  <div class="bot">

    <!--{$products}-->
    <!--{$checkout}-->
    <div class="cart_items">
      <h3>Shopping Cart</h3>
    </div>
  </div>
</body>
</html>