<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="include/css/style_main_mobile_first.css" type="text/css">
  <script src="include/js/main.js"></script>
  <script src="include/js/ajax_main.js"></script>
  <script>document.addEventListener("DOMContentLoaded", function(){init_main()})</script>
  <script>document.addEventListener("DOMContentLoaded", function(){init_ajax()})</script>
</head>
<body>
    <div class="products_container">
    <!--{$products}-->
    </div>
    <!--{$checkout}-->
    <div class="cart_items">
      <h3>Shopping Cart</h3>
    </div>
</body>
</html>